*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

ehthumbs.db
desktop.ini

Game/Binaries/
Game/DerivedDataCache/
Game/Intermediate/
Game/Saved/
Game/.vs/
Game/.vscode/
Game/Build/

Game/*.VC.db
Game/*.VC.opendb
Game/*.sln

Game/WindowsNoEditor/
Game/WindowsServer/

Backend/target/
Backend/build/
Backend/.gradle/
Backend/out/

Backend/*.war
Backend/*.jar

Backend/.idea/
Backend/.vscode/
Backend/*.iml

shared/*.gen.yml
shared/*.gen.json